/* Body */
body{
  display: flex;
  flex-wrap:wrap;
  
}
/* header */
header{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
} 

header img{
  flex-grow:1;
  height: 20em;
  
}
header>nav{
  flex-basis:100%;
}
 
header>nav>ul {
    display: flex;
    flex-wrap: nowrap;
    
  }
header>nav>ul>li{
    flex-grow: 1;
  }
 
/* main */
main {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
  }
main ul{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 65%;
  
}
main img{
  margin-right: 1em;
  width: 10em;
}
main>ul>li{

  margin: 5px;
  flex-basis: 100%;

}

main>ul>li>section{
  display: flex;
}
main>ul>li>section>h2{
  flex-grow: 1;
  flex-basis: 15%
  
}
main>ul>li>section>p{
  flex-grow: 1;
  flex-wrap: wrap;
}

/* aside */
aside {
  flex-grow: 1;
  flex-basis: 30%;
  margin-left:0.5em;
  }

section ul{
  display: flex;  
}

section>nav>ul{
  display: flex;
}
section>nav>ul>li{
 flex-wrap: nowrap;
 flex-grow: 1;
  margin: 0.2em;  
}


aside img{
  position: relative;
  top: -1em;
}
.contact{
  display: flex;
}
.contact>h3{
   flex-wrap: wrap;
  flex-basis: 100%;
  position: relative;
  top: -2em;
  
}
.contact>p{
  flex-wrap: wrap;
  flex-basis: 100%;
  position: relative;
  top: -1em;
  right: 12.1em;
  
  
}
/* footer */
footer{
  flex-basis: 100%;
}

footer{
  display: flex;
}
footer>.p1{
  flex-basis: 50%;
  flex-grow: 1;
}
footer p{
  margin: .5em
}
