/* élément */
body{
  background-color: black;
}
li{
    list-style-type: none;
}
/* Header */

header{
  background-color: black;

}
header li{
  border: solid;
  border-width: thin;
  border-left-style: none;
  text-align: center;
  border-radius: 2em;
  margin: 0.2em;
  background-color: #475778;
  color: white;
}
header a{
  text-decoration: none;
  color: white;
}
header a:hover{
  text-decoration: none;
  color: black;
}
header>nav>ul>li:first-child{
    border-left:solid;
    border-width: thin;
  
  }
header li:hover{
  background-color: whitesmoke;
}

/* main */
main{
  background-color: black;
  color:white;  
}

/* aside */
aside{
  background-color: black;
}
aside>section>nav>ul>li{
  border: solid;
  border-width: thin;
  text-align: center;
  border-radius: 2em;
}
aside>section>nav>ul>li{
background-color: #475778;
}
aside>section>nav>ul>li:hover{
background-color: #1DA1F2;
  color: red;
}
aside>section>nav>ul>li>a{
  color: black;
  text-decoration: none; 
}


aside>section img{
  height: 3em;
  width: 3em;
}

/* footer */
footer{
  background-color: #293349;
  border-radius: 30px;
}

footer p{
  text-align: center; 
  color: white;
}

